[submodule "dataModel.WaterQuality"]
	path = dataModel.WaterQuality
	url = https://github.com/smart-data-models/dataModel.WaterQuality.git
[submodule "dataModel.Weather"]
	path = dataModel.Weather
	url = https://github.com/smart-data-models/dataModel.Weather.git
[submodule "dataModel.Environment"]
	path = dataModel.Environment
	url = https://github.com/smart-data-models/dataModel.Environment.git
[submodule "dataModel.WasteManagement"]
	path = dataModel.WasteManagement
	url = https://github.com/smart-data-models/dataModel.WasteManagement.git
