[submodule "dataModel.Environment"]
	path = dataModel.Environment
	url = https://github.com/smart-data-models/dataModel.Environment.git
[submodule "dataModel.FrictionlessData"]
	path = dataModel.FrictionlessData
	url = https://github.com/smart-data-models/dataModel.FrictionlessData.git
[submodule "dataModel.WasteManagement"]
	path = dataModel.WasteManagement
	url = https://github.com/smart-data-models/dataModel.WasteManagement.git
[submodule "dataModel.WaterQuality"]
	path = dataModel.WaterQuality
	url = https://github.com/smart-data-models/dataModel.WaterQuality.git
[submodule "dataModel.Weather"]
	path = dataModel.Weather
	url = https://github.com/smart-data-models/dataModel.Weather.git
[submodule "dataModels.SDG"]
	path = dataModels.SDG
	url = https://github.com/smart-data-models/dataModels.SDG.git
[submodule "dataModel.CarbonFootprint"]
	path = dataModel.CarbonFootprint
	url = https://github.com/rfranquelo/dataModel.CarbonFootprint.git
